app = "naverpay-delivery-tracker"
primary_region = "nrt"

[build]

[http_service]
  internal_port = 8001
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[mounts]
  source = "blog_data"
  destination = "/data"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[checks]
  [checks.health]
    grace_period = "60s"
    interval = "30s"
    method = "GET"
    path = "/health"
    port = 8001
    timeout = "10s"
    type = "http"
